<h1 id="RXPHeading" style="display: block; color: #a8db00; font-weight: bold; font-family: &quot;century gothic&quot;;">Register Project<br/></h1> 
<br/> 
<table class="tblCreateSite" style="margin-top: 10px; display: block;"> 
   <tbody>
      <tr> 
         <td> 
            <label id="lblRXPProjectName">Project name<span id="RXPReq" style="color: red;">*</span></label></td> 
         <td style="padding-left: 10px;"> 
            <input type="text" id="txtRXPProjectName" class="cam-taxpicker-editor" style="width: 355px;"/> 
         </td> 
         <td> 
            <input type="text" id="txtRXPProjectNameError" readonly="readonly" style="display: none; margin-bottom: 5px; width: 250px; color: red; border: none;"/> 
         </td> 
      </tr> 
      <tr> 
         <td> 
            <label id="lblRXPProjectID">Project ID </label></td> 
         <td style="padding-left: 10px;"> 
            <input type="text" id="txtRXPProjectID" class="cam-taxpicker-editor" style="width: 355px;"/> 
         </td> 
         <td> 
            <input type="text" id="txtRXPProjectIDError" readonly="readonly" style="display: none; margin-bottom: 5px; width: 250px; color: red; border: none;"/> 
         </td> 
      </tr>

      <tr> 
         <td> 
            <label id="lblRXPClientName">Client name<span id="RXPReq" style="color: red;">*</span> </label></td> 
         <td style="padding-left: 10px;">                                                
               <input type="hidden" id="txtRXPClient"/>              
         </td> 
         <td> 
            <input type="text" id="txtRXPClientError" readonly="readonly" style="display: none; margin-bottom: 5px; color: red; border: none;"/> 
         </td> 
      </tr>

      <tr> 
         <td> 
            <label id="lblRXPPractice">Practice<span id="RXPReq" style="color: red;">*</span></label></td> 
         <td style="padding-left: 10px;">
                  <input type="hidden" id="txtRXPPractice"/>           
         </td> 
         <td> 
            <input type="text" id="txtRXPPracticeError" readonly="readonly" style="display: none; margin-bottom: 5px; width: 250px; color: red; border: none;"/> 
         </td> 
      </tr>

      <tr> 
         <td> 
            <label id="lblRXPProduct">Product / Service</label> </td> 
         <td style="padding-left: 10px;">                     
               <input type="hidden" id="txtRXPProduct"/>           
         </td> 
         <td> 
            <input type="text" id="txtRXPProductError" readonly="readonly" style="display: none; margin-bottom: 5px; width: 250px; color: red; border: none;"/> 
         </td> 
      </tr>
      <tr> 
         <td>
         </td> 
         <td> 
            <button id="btnCreate" style="margin-top: 10px; margin-left: 10px; color: white; font-weight: bold; background-color: #a8db00;">Create</button><button id="btnCancel" style="margin-top: 10px; margin-left: 0px; color: white; font-weight: bold; background-color: #a8db00;">Cancel</button> ​<br/>​​<br/>​<br/></td> 
      </tr> 
   </tbody>
</table> 