<table class="rxpAccessDenied" style="display:none;"> 
   <tbody>
      <tr> 
         <td>
            <img src="/sites/Engagement/ProjectPortal/SiteAssets/SmallAccessDenied.jpg" alt="Access Denied"/>
         </td> 
         <td style="padding-left: 20px; padding-bottom: 10px;">
            <h1 style="font-family: &#39;century gothic&#39;;">
               <strong class="ms-rteForeColor-2">Access Denied</strong><br/> </h1>
         </td> 
      </tr> 
      <tr> 
         <td>
         </td> 
         <td style="padding-left: 20px;">
            <span class="ms-rteFontSize-3">Sorry you don&#39;t have permission to create the site.</span><br class="ms-rteFontSize-3"/><span class="ms-rteFontSize-3">Only users in the&#160;&quot;Engagement Owner&quot; Group can create a&#160;Project site.<br/>Click this link </span><a href="/sites/Engagement/ProjectPortal/"><span class="ms-rteFontSize-3">Project Portal</span></a><span class="ms-rteFontSize-3">&#160;to go b​ack to Project site.</span><br/></td> 
      </tr> 
   </tbody>
</table>
<br/> ​​